@import "./theme.css";

body {
  font-family: Roboto;
  margin: 0;
  background-color: #f9f9f9;
}

.full-width {
  width: 100%;
}

.custom-dialog > mat-dialog-container {
  background: none !important;
}